
        <div class="container">
                <div class="row">
                    <div class="thumbnail">
                        <img src="{{episodeData.image.medium}}" style="height: 200px;">
                        <div class="caption">
                            <strong>Name : </strong>{{episodeData.name}}<br>
                            <strong>Summary : </strong>
                            {{episodeData.summary}}<br>
                            <strong>airdate : </strong>{{episodeData.airdate}}<br>
                            <strong>airtime : </strong>{{episodeData.airtime}}<br>
                           
                        </div>
                    </div>
                </div>
            </div>
    
    
   
    
        
            
    
    